@{
    ViewData["Title"] = "常见问题";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 order-2">
            <div class="blog-sidebar-wrapper pt-md-60 pt-sm-60">
                <div class="blog-sidebar">
                    <h4 class="title">推广</h4>
                    <ul class="blog-archive blog-category">
                        <li>
                            <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=8lbflttm" target="_blank">
                                <img src="~/images/image/aliyun.jpg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 order-1">
            <div class="blog-text">
                <h7><a href="" #="">怎么购买软件？</a></h7>
                <p>在联系我们页面通过QQ客服或拨打手机.</p>
                <br><br>
                <h7><a href="" #="">YiShaAdmin 有哪些服务？</a></h7>
                <p>购买后可以获取您所购买的所有源码.</p>
                <br><br>
                <h7><a href="" #="">YiShaAdmin 可以部署在哪些服务器上？</a></h7>
                <p>框架基于.Net Core技术构建，可以部署在Windows Server和Linux.</p>
                <br><br>
                <h7><a href="" #="">是否提供发票？</a></h7>
                <p>我们提供正规的增值税专用发票和增值税普通发票，并会按照您提供的地址快递至您提供的地址.</p>
                <br><br>
                <h7><a href="" #="">需要提供签订合同吗？</a></h7>
                <p>我们会提供完整的纸质版合同邮寄给您.</p>
                <br><br>
                <h7><a href="" #="">如何付款？</a></h7>
                <p>一般采用企业对公付款方式，也可以支付宝、微信.</p>
                <br><br>
                <h7><a href="" #="">可以使用多长时间？</a></h7>
                <p>永久.</p>
                <br><br>
                <h7><a href="" #="">购买后可以升级吗？</a></h7>
                <p>可以，提供免费升级服务，您可以随时升级功能模块或者最新版。您也可以在不同产品中使用不同版本.</p>
                <br><br>
                <h7><a href="" #="">购买后我可以获得什么？</a></h7>
                <p>所有源码(未压缩、带注释版本)；说明文档；终身免费升级服务；必要的技术支持.</p>
                <br><br>
                <h7><a href="" #="">提供相关技术服务吗？</a></h7>
                <p>提供，我们提供了为您提供了完善的使用文档，并在服务期内提供免费的QQ咨询、远程服务等.</p>
                <br><br>
                <h7><a href="" #="">如何实现分布式？</a></h7>
                <p>根据实际项目的需求，实现一个适合由单应用扩展到多应用的架构。在项目的最初设定就是一个适合多模块扩展的架构，最初是单应用架构，以插件形式区分模块。当项目需求增大的时候，会先实现多机部署，接下来进行项目拆分，进行集群部署。每个阶段都会整合一个架构，提供对应的解决方案.</p>
                <br><br>
                <h7><a href="" #="">可以用于多个产品吗？</a></h7>
                <p>可以，您只需一次购买.</p>
                <br><br>
                <h7><a href="" #="">可以定制吗？</a></h7>
                <p>可以，如果您有定制的需求，请联系我们的客服人员.</p>
            </div>
        </div>
    </div>
</div>
