<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      throwExceptions="false">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- Error -->
		<target name="error_file" xsi:type="File" maxArchiveFiles="30"  encoding="utf-8"
				fileName="${basedir}/logs/${date:yyyyMMdd}_Error.log"
				archiveFileName="${basedir}/Logs/${date:yyyyMMdd}_Error.{#}.log"
				archiveDateFormat="yyyyMMdd"
				archiveAboveSize="104857600"
				archiveNumbering="Sequence"
				layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace}" />
		<!-- Trace -->
		<target name="trace_file" xsi:type="File" maxArchiveFiles="30" encoding="utf-8"
				fileName="${basedir}/logs/${date:yyyyMMdd}_Trace.log"
				archiveFileName="${basedir}/Logs/${date:yyyyMMdd}_Trace.{#}.log"
				archiveDateFormat="yyyyMMdd"
				archiveAboveSize="104857600"
				archiveNumbering="Sequence"
				layout="${date:yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}}： ${message}" />
		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<target name="custom" xsi:type="File" maxArchiveFiles="30" encoding="utf-8"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	</targets>

	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="Quartz.*" maxlevel="Error" final="true" />
		<!-- add your logging rules here -->
		<logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="trace_file" />
		<!--<logger name="*" minlevel="Debug" writeTo="debugger" />-->
		<logger name="*" minlevel="Error" writeTo="error_file" />
	</rules>
</nlog>