
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>地图显示</title>
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/jquery/1.10.2/jquery.min.js"))
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0" />
    <script src="https://webapi.amap.com/maps?v=1.4.8&key=3a68d069a0cfc0c84029800e396062dd"></script>
</head>
<body>
    <div>
        <div>定位信息</div>
        <div>
            准确度:<span id="accuracy"></span><br />
            经度:<span id="lng"></span><br />
            纬度:<span id="lat"></span>
        </div>
        <div id="mapContainer" style="width:100%;height:500px;position:relative"></div>
    </div>
    <script>
        $(function () {
            var mapObj = new AMap.Map('mapContainer');
            mapObj.plugin('AMap.Geolocation', function () {
                geolocation = new AMap.Geolocation({
                    enableHighAccuracy: true,//是否使用高精度定位，默认:true
                    timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                    maximumAge: 0,           //定位结果缓存0毫秒，默认：0
                    convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
                    showButton: true,        //显示定位按钮，默认：true
                    buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
                    buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                    showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
                    showCircle: true,        //定位成功后用圆圈表示定位精度范围，默认：true
                    panToLocation: true,     //定位成功后将定位到的位置作为地图中心点，默认：true
                    zoomToAccuracy: true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                });
                mapObj.addControl(geolocation);
                geolocation.getCurrentPosition();
                AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
                AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
            });
            function onComplete(data) {
                var lnglatXY = [data.position.getLng(), data.position.getLat()];
                $("#accuracy").html(data.accuracy);
                $("#lng").html(data.position.getLng());
                $("#lat").html(data.position.getLat());
            }
            function onError(data) {
                var str = '定位失败;';
                str += '错误信息：'
                switch (data.info) {
                    case 'PERMISSION_DENIED':
                        str += '浏览器阻止了定位操作';
                        break;
                    case 'POSITION_UNAVAILBLE':
                        str += '无法获得当前位置';
                        break;
                    case 'TIMEOUT':
                        str += '定位超时';
                        break;
                    default:
                        str += '未知错误';
                        break;
                }
                alert(str);
            }
        });
    </script>
</body>
</html>