@{
    Layout = "~/Views/Shared/_SaveGray.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="col-sm-12">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>框架介绍</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    1. YiShaAdmin集成了简单的用户角色权限管理，适用于开发 <b>网站管理后台</b>、<b>CMS</b>、<b>CRM</b>、<b>ERP</b>、<b>OA</b> 这类的系统和开发<a href="/api/api-doc" target="_blank"><b>移动端API</b></a>。
                                </p>
                                <p>
                                    2. 前端checkbox，radiobox，select，ztree，bootstrap table及bootstrap table tree控件封装到位，使用简单；后端分层设计，架构清晰，使你能够专注于自己的业务开发。
                                </p>
                                <p>
                                    3. 自带代码生成工具，常用页面列表展示和表单增删改代码自动生成，可生成70%的代码量，方便你快速开发。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>技术选型</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <ul>
                            <li>1. 前端： Bootstrap 3.3.7</li>
                            <li>2. 核心框架：.Net Core 2.2</li>
                            <li>3. 缓存层：MemoryCache、Redis</li>
                            <li>4. 持久层框架：Entity Framework Core</li>
                            <li>5. 数据库支持：SqlServer,MySql,Oracle</li>
                            <li>6. 定时任务：Quartz.Net</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v200">v2.0.0</a><code class="pull-right">2019.02.25</code>
                                        </h5>
                                    </div>
                                    <div id="v200" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>后端框架迁移至.Net Core 2.2</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v110">v1.1.0</a><code class="pull-right">2019.01.07</code>
                                        </h5>
                                    </div>
                                    <div id="v110" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>支持移动端Api</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v100">v1.0.0</a><code class="pull-right">2018.12.25</code>
                                        </h5>
                                    </div>
                                    <div id="v100" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 第一个版本发布</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @*<p>
                                <i class="fa fa-send-o"></i> 官网：<a href="http://www.ruoyi.vip" target="_blank">http://www.ruoyi.vip</a>
                            </p>*@
                        <p>
                            <i class="fa fa-qq"></i> QQ群：<a href="http://qm.qq.com/cgi-bin/qm/qr?k=Le3AUhoFwTqkb83jJ_TR3s7Xh2Rl0ZrO" target="_blank">428703155</a>
                        </p>
                        <p>
                            <i class="fa fa-weixin"></i> 微信：<span>15755176597</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {

        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        });

    });

</script>
