@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <blockquote class="text-warning" style="font-size:14px">
                    <p>
                        领取阿里云通用云产品最高2000元优惠券(仅限新用户)<br />
                        <a target="_blank" href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=8lbflttm">https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=8lbflttm</a>
                    </p>
                    <p>
                        腾讯云产品优惠采购<br />
                        <a target="_blank" href="https://curl.qcloud.com/2eG1xiw8">https://curl.qcloud.com/2eG1xiw8</a>
                    </p>
                    <p>
                        UCloud全球大促<br />
                        <a target="_blank" href="https://www.ucloud.cn/site/active/kuaijie.html?invitation_code=C1x021080B8D32A">https://www.ucloud.cn/site/active/kuaijie.html?invitation_code=C1x021080B8D32A</a>
                    </p>
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>框架介绍</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12" style="font-size:14px">
                                <p>
                                    YiShaAdmin 借鉴了很多开源项目的优点，让你开发Web管理系统和移动端Api更简单，所以我也把她开源了（前端<code>CSS</code>样式主要参考<a href="http://demo.ruoyi.vip/" target="_blank">若依</a>，在此表示感谢 :）。<br />
                                    她适用于开发 <b>网站管理后台</b>、<b>CMS</b>、<b>CRM</b>、<b>ERP</b>、<b>OA</b> 这类的系统和开发<a href="/swagger" target="_blank"><b>移动端Api</b></a>。<br />
                                    代码完全免费开源，易读易懂、界面简洁美观，给你的项目多一种选择与参考。
                                </p>
                                <p>当前版本：@YiSha.Util.GlobalContext.GetVersion() &nbsp;&nbsp;<span class="label label-warning">¥免费开源</span></p>
                                <p>
                                    <i class="fa fa-qq"></i> QQ群：<s>满 428703155</s> <a href="https://jq.qq.com/?_wv=1027&k=MQ6OdF8v" target="_blank">851661600</a>
                                </p>
                                <p>
                                    <i class="fa fa-github"></i> GitHub：<a href="https://github.com/liukuo362573/YiShaAdmin" target="_blank">https://github.com/liukuo362573/YiShaAdmin</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>技术选型</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content" style="font-size:14px">
                        <ul>
                            <li>1. 前端： Bootstrap 3.3.7</li>
                            <li>2. 核心框架：.Net Core MVC</li>
                            <li>3. 缓存层：Memory、Redis</li>
                            <li>4. 持久层框架：Entity Framework Core</li>
                            <li>5. 数据库支持：SqlServer,MySql,Oracle</li>
                            <li>6. 定时任务：Quartz.Net</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>捐赠</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            请作者喝杯咖啡（点击图片放大）
                        </div>
                        <p id="pay-qrcode">
                            <a>
                                <img src="~/image/pay.png" width="100%" alt="请使用手机支付宝或者微信扫码支付" class="img-responsive">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {

        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        });

        $('#pay-qrcode').click(function () {
            var html = $(this).html();
            ys.openDialogContent({
                content: html,
                width: '600px',
                height: '321px'
            });
        });

    });

</script>
