
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="section-title text-center">
            <h2>为什么选择一沙极速后台开发框架(YiShaAdmin)</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 chose-list">
        <div>
            <span class="fa fa-circle small-icon">&nbsp;&nbsp;</span>
            YiShaAdmin 专注于B/S后台管理系统和Web Api的开发，旨在降低此类系统的开发门槛，并同时提高系统的代码质量。
        </div>
        <div>
            <span class="fa fa-circle small-icon">&nbsp;&nbsp;</span>
            YiShaAdmin 是一款基于代码生成器的快速开发平台，基于代码生成器的开发方式，可以将编码工作量减少70%以上，为企业提高开发效率，为企业节省项目研发成本，减少开发周期。
        </div>
        <div>
            <span class="fa fa-circle small-icon">&nbsp;&nbsp;</span>
            YiShaAdmin 基于流行的.Net Core技术上构建，扩展容易，学习成本低，可快速构建企业级项目，满足企业项目实现快速开发的需求。
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="row">
            <div class="col-12">
                <div class="choose-us-wrapper">
                    <div class="accordion" id="choose-us">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="accordio-heading" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <i class="ion-cube"></i>
                                        基础架构
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#choose-us">
                                <div class="card-body">
                                    采用Bootstrap + ASP.NET Core 2.2 + Entity Framework Core基础架构。
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="accordio-heading" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-controls="collapseTwo">
                                        <i class="ion-shuffle"></i>
                                        轻标准化
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#choose-us">
                                <div class="card-body">
                                    所有功能都可以先有代码生成器生成.cshtml和.cs文件模板，简单功能可以在生成代码的时候进行配置即可使用，复杂业务在生成的基础上稍加改动即可使用。
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="accordio-heading" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-controls="collapseThree">
                                        <i class="ion-hammer"></i>
                                        高效稳定
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#choose-us">
                                <div class="card-body">
                                    经过多个项目的打磨，架构不断进行优化，保证数据的准确性和和访问速度。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 pt-md-60 pt-sm-60">
        <div class="row">
            <div class="col-12">
                <img src="~/images/yishaadmin_user.png" alt="">
            </div>
        </div>
    </div>
</div>

<style>
    .small-icon {
        font-size: 10px;
        color: #62d2a2;
        padding-top: 4px;
    }

    .smaller-icon {
        font-size: 6px;
        color: #62d2a2;
    }

    .chose-list {
        line-height: 1.5;
        margin: 30px 0 50px;
    }

        .chose-list div {
            margin-bottom: 15px;
        }
</style>